.carrousel{
  background-color: aqua;
}

.font{
  color: white;
  font-size: 5.0em;
}

.imgCarousel{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.root{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/teste.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-carrousel{
  position: absolute;
  margin-top: -100px;
  z-index: 10;
}

.div-login{
  position: relative;
  z-index: 30;
}

.gradient{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(142,90,237,1) 80%);
  z-index: 20;
  opacity: 0.8;
}

.desc{
  margin-top: 30px;
  padding-left: 60px;
  width: 50%;
}

.test{
  margin-top: 100;
  margin-left: auto;
  background-color: white;
  min-width: 400px;
  margin-right: 50px;
  border-radius: 50px;
}

.logo{
  width: 450;
  height: 100;
}

.header-style{
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: space-between;
  align-items: center;
}

.transparent{
  background-color: #11ffee00
}

@media (max-width: 768px) {
  .desc {
    display: none;
  }
  .test{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 300px;
  }
  .font{
    display: none;
  }
  
  .header-style{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
}